header{
    background-color: black;
width: 150%;
    color: white;
  height: 70px;
  position: sticky;
  top: 0;
  
}
body{
    background-image: url('Images/Backg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img1{
    
   color: darkblue;
}
.img3{
    
   color: darkblue;
   
}
.img4{
  
  
    color: darkblue;
}
.img2{
  
    
    color: darkblue;
}
#about{
    text-decoration: underline;
}
nav img{
    height: 62px;
    margin-top: 5px;
       display: flex;
     
   }
   footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
   nav ul{
       display: flex;
   /* justify-content: center; */
   }
   nav ul li{
       list-style:none;
       padding-left: 73px;
        padding-top:20px; 
   
   }
   nav ul li a{
       text-decoration: none;
       color: white;
   }
   *{
       padding: 0;
       margin: 0;
   }