header{
    background-color: black;
width: 102%;
    color: white;
  height: 70px;

  top: 0;
  position: sticky;
}

nav img{
    height: 62px;
    margin-top: 5px;
       display: flex;
     
   }
   #sub{
       border: 4px solid black;
       border-radius: 40px;
       width: 200px;
   }
   #res{
    border: 4px solid black;
    border-radius: 40px;
    width: 200px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin-top: 70px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;

}
form input{
    height: 50px;
    width: 250px;
}
form label{
    color: White;
}
#contact{
  text-decoration: underline;  
}
body{
    background-image: url('Images/Background.jpg');
    background-repeat: no-repeat;
    
}
   nav ul{
       display: flex;
   /* justify-content: center; */
   }
   nav ul li{
       list-style:none;
       padding-left: 73px;
        padding-top:20px; 
   
   }
   nav ul li a{
       text-decoration: none;
       color: white;
   }
   *{
       padding: 0;
       margin: 0;
   }