@media screen and (max-width:334px){
    main{
        padding-left: 50px;
      
    }
    
}
@media screen and (max-width:454px){
    header{
        height: 200px;
        justify-content: center;
        align-items: center;
     
       
    }
    nav ul{
        flex-direction: column;
    }
}
