@media  screen and (max-width:494px) {
    .Services{
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:454px){
    header{
        height: 200px;
        justify-content: center;
        align-items: center;
       
    }
    nav ul{
        flex-direction: column;
    }
}
@media screen and (max-width:324px){
    .Services{
        height: 100px;
        width: 50px;
        text-overflow: none;
    }
    footer{
        display: none;
    }
}